<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tesiLaureaEmoticron.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>89860FCE2074F29900491448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89860FE22074F29A00491448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>89860FED2074F29A00491448</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
